
    
    
   

/* Reset dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Background halaman */
body {
    background: linear-gradient(135deg, #ecb7c7, #1d2b64);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container utama */
.container {
    background-color: #f5a6be;
    padding: 25px;
    width: 400px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

/* Judul */
h1 {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    color: #841818;
    font-size: 24px;
}

/* Input */
input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}

input:focus {
    border-color: #1d2b64;
}

/* Tombol */
button {
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    color: rgb(249, 244, 244);
    margin-top: 5px;
}

/* Warna tombol */
#addBtn {
    background-color: #e91e63;
}

#clearBtn {
    background-color: #ff9800;
}

#filterBtn {
    background-color: #3f51b5;
}

/* Hover efek */
button:hover {
    opacity: 0.85;
}

/* List todo */
ul {
    list-style: none;
    margin-top: 15px;
}

li {
    background-color: #f8aaaa;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Footer */
footer {
    text-align: center;
    margin-top: 15px;
    font-size: 12px;
    color: #e2c5c5;
}
body {
    background-color: red !important;
}